{
  "extends": ["prettier", "prettier/react", "airbnb"],
  "plugins": ["prettier", "react-hooks", "cypress", "simple-import-sort"],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react", "^@?\\w"],
          ["^(@|components)(/.*|$)"],
          ["^\\u0000"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["^.+\\.?(css)$"]
        ]
      }
    ],
    "linebreak-style": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-shadow": "off",
    "react/require-default-props": "off",
    "simple-import-sort/exports": "error",
    "arrow-parens": ["error", "as-needed"],
    "semi": "error",
    "prefer-destructuring": "error",
    "max-len": [
      "warn",
      {
        "code": 105,
        "ignoreUrls": true,
        "ignorePattern": "import"
      }
    ],
    "no-unused-vars": "warn",
    "operator-linebreak": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-closing-tag-location": 2,
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 2,
        "when": "always"
      }
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".jsx"]
      }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": [2, "always-multiline"],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "react/prop-types": "off",
    "react/jsx-fragments": [1, "element"]
  },
  "overrides": [
    {
      "files": ["src/index.js"],
      "rules": {
        "react/jsx-filename-extension": "off",
        "prettier/prettier": [
          "error",
          {
            "singleQuote": true
          }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          "js",
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  }
}
